 :root {
        --bg: #f5f5f5;
        --card-bg: #fff;
        --text: #333;
        --subtext: #555;
        --border: #d9d9d9;
    }

    .dark-mode {
        --bg: #1a1a1a;
        --card-bg: #1a1a1a;
        --text: #f1f1f1;
        --subtext: #c7c7c7;
        --border: #444;
    }

    body {
        font-family: "Inter", sans-serif;
        background: var(--bg);
        color: var(--text);
        display: flex;
        justify-content: center;
        padding-top: 30px;
        transition: 0.3s;
    }

    .theme-toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 26px;
        cursor: pointer;
        color: var(--text);
        background: var(--card-bg);
        padding: 10px;
        border-radius: 50%;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    .card {
        width: 330px;
        background: var(--card-bg);
        color: var(--text);
        padding: 30px 25px;
        border-radius: 22px;
        box-shadow: 0 8px 25px rgba(0,0,0,0.07);
        text-align: center;
        position: relative;
        margin-top: 7%;
        margin-bottom: 20%;
        transition: 0.3s;
    }

    .logo {
        width: 60px;
        height: 60px;
        background: #FFC727;
        border-radius: 15px;
        margin: 0 auto 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .subtitle {
        font-size: 12px;
        line-height: 16px;
        color: var(--subtext);
        margin-bottom: 25px;
    }

    .input-box {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        border: 1px solid var(--border);
        border-radius: 8px;
        padding: 0 12px;
    }

    .input-box input {
        width: 100%;
        border: none;
        padding: 12px;
        outline: none;
        font-size: 14px;
        background: transparent;
        color: var(--text);
    }

    .btn {
        width: 100%;
        border: none;
        padding: 12px;
        border-radius: 8px;
        margin-top: 12px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
    }

    .btn.blue {
        background: #4D8DFF;
        color: white;
    }

    .btn.yellow {
        background: #FFC727;
        color: white;
    }