body {
    font-family: "Inter", sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.register-box {
    width: 330px;
    background: #fff;
    padding: 30px 25px;
    border-radius: 22px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.07);
    text-align: center;
    position: relative;
    margin-top: 7%;
    margin-bottom: 20%;
}

/* ==== ICON LOGIN (SAMAKAN DENGAN REGISTER.logo) ==== */
.login-icon {
    width: 60px;
    height: 60px;
    background: #FFC727;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
    font-size: 28px;
    color: white;
}

/* ==== TITLE ==== */
.register-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* ==== DESCRIPTION ==== */
.register-desc {
    font-size: 12px;
    line-height: 16px;
    color: #555;
    margin-bottom: 25px;
}

/* ==== INPUT BOX (SAMA PERSIS DENGAN REGISTER) ==== */
.input-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 0 12px;
}

.input-box i {
    font-size: 17px;
    color: #888;
}

.input-box input {
    width: 100%;
    border: none;
    padding: 12px;
    outline: none;
    font-size: 14px;
    color: #333;
}

.input-box input::placeholder {
    color: #A0A0A0;
}

/* Eye Icon */
#togglePassword {
    margin-left: auto;
    cursor: pointer;
}

/* ==== BUTTONS (SAMA PERSIS DENGAN REGISTER) ==== */
.btn-blue {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background: #4D8DFF;
    color: white;
}

.btn-yellow {
    width: 100%;
    border: none;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background: #FFC727;
    color: white;
}

.btn-blue:hover{
    background-color:#1a2b50 ;
}

.btn-yellow:hover{
    background-color:#ff9900 ;
}
