* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.container {
    width: 1000px;
}

/* Logo Section */
.logo-box {
    margin-bottom: 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo img {
    height: 55px;
}

.logo span {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #3B55D9;
}

.form-box {
    position: relative;
    padding: 44px 30px 30px 30px; 
    width: 65%;
}

.title-tab {
    position: absolute;
    top: 0;                 
    left: 30px;            
    transform: translateY(-50%); 
    background: #3B55D9;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    line-height: 1;
    padding: 8px 28px;     
    border-radius: 18px;   
    z-index: 5;
    display: flex;
    align-items: center;
    box-shadow: none;
}


.title-tab::before {
    content: "";
    position: absolute;
    left: -12px;           
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 60%;           
    background: #FFCE35;
    border-radius: 8px;    
    z-index: -1;           
}


.title-tab::after {
    content: "";
    position: absolute;
    right: -120px;         
    top: 50%;
    transform: translateY(-50%);
    width: 120px;          
    height: 2px;           
    background: #cfcfcf;   
    border-radius: 2px;
    z-index: 2;
}

.profile-wrapper {
    position: relative;
    display: flex;
    border: 1.5px solid #cfcfcf;
    border-radius: 4px;
    overflow: visible;     
}

@media (min-width: 900px) {
  .title-tab { left: 34px; padding: 9px 30px; border-radius: 20px; }
  .title-tab::before { left: -13px; width: 15px; }
  .title-tab::after { right: -140px; width: 140px; }
}

/* Form */
.form-box form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 14px;
    font-weight: 600;
    margin-left: 3px;
}

input,
textarea {
    width: 92%;
    padding: 8px 10px;
    border: 1.3px solid #b7b7b7;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    height: 75px;
    resize: none;
}

/* Upload Section */
.upload-box {
    width: 35%;
    background: #FFCE35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding: 30px;
}

.upload-box i {
    font-size: 70px;
    background: white;
    color: #3B55D9;
    width: 110px;
    height: 110px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-btn {
    background: #3B55D9;
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: .2s;
}

.upload-btn:hover {
    opacity: .9;
    transform: scale(1.03);
}

@media(max-width: 820px){
    .profile-wrapper {
        flex-direction: column;
    }
    .form-box, .upload-box {
        width: 100%;
    }
}